.login-container{
    min-height: 100vh;  /* full screen height */
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; /* vertical center*/
    background-color: #f4f6f8;
}

.login-card {
    width: 100%;
    max-width: 360px;
    background-color: #ffffff;
     padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
}

.login-card h2{
    text-align: center;
    margin-bottom: 1.5rem;
}

.login-input{
    padding: 10px;
    margin-bottom: 1rem;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    padding: 10px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
  }

  .login-button:hover {
    background-color: #1e40af;
  }