.table-container {
    background-color: white;
    border-radius: 6px;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 14px 16px; /*12px;*/
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
    /* vertical-align: middle; */
  }
  
  th {
    background-color: #f9fafb;
  }
  
  .empty-text {
    text-align: center;
    color: #6b7280;
  }
  
  .table-btn {
    padding: 4px 8px;
    margin-right: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .table-btn.delete {
    background-color: #ef4444;
    color: white;
  }

  .action-buttons {
    display: flex;
    gap: 8px;               /* space between buttons */
  }
  
  .status-badge {
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 12px;
    font-weight: 500;
    display: inline-block;
  }
  
  /* Green */
  .in-stock {
    background-color: #dcfce7;
    color: #166534;
  }
  
  /* Red */
  .out-stock {
    background-color: #fee2e2;
    color: #991b1b;
  }
  